h1 {
    color: antiquewhite;
    font-family: nunito;
    font-size: 2.5rem;
    text-align: center;
}

div {
    background-color: black;
    margin: auto;
    padding: 0.1rem;
}

p {
    text-align: center;
    color: white;
}